header
    nav.navbar.navbar-light.bg-light.navbar-expand-lg
        div.container
            a.navbar-brand.navigation-link(href="#home")
                img.d-inline-bloc.align-top(src="/docs/4.3/assets/brand/bootstrap-solid.svg" ,width="30",height="30", ,alt="")
                <span>JAY THAKKAR</span>
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
                span.navbar-toggler-icon
            .collapse.navbar-collapse.d-flex.justify-content-center#navbarNav
                ul.navbar-nav
                    li.nav-item.navigation-link
                        a.nav-link(href="#about") About me 
                    li.nav-item.navigation-link
                        a.nav-link(href="#belief") My Belief
                    li.nav-item.navigation-link
                        a.nav-link(href="#passion") My Passion
                    li.nav-item.navigation-link
                        a.nav-link(href="#connect") Connect