#about-wrapper
    .section-body
        .about-list
            padding:5rem 0;
            .list-item
                margin-bottom:3.5rem;
                .card
                    background-color:transparent
                    border:none;
                    display:flex;
                    flex-direction:row;
                    .card-image
                        height:20rem;
                        width:30rem;
                        background-image: url('/images/about/dummy_background.jpg');
                        background-size: cover;
                        background-position: center;
                        border-radius:2rem;
                    .card-body
                        padding:0 0 0 3.5rem;
                        flex:1;
                        .card-title
                            margin-bottom:1.5rem;
                            .title
                                font-size:2.4rem;
                                font-weight:bold;
                                color:#605ebb;
                            .role
                                font-size:1.6rem;
                                font-weight:bold;
                                color:#5ba957;
                                margin-bottom:.5rem;
                            .place
                                font-size:1.5rem;
                                font-weight:bold;
                                color:#50555c;
                                margin-bottom:0;
                        .card-description
                            .description
                                font-size:1.5rem;
                                color:#50555c
                       